:root {
  color-scheme: light dark;
}

body {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efedea, #242424);
  font-family: 'Roboto', monospace;
}

a {
  color: light-dark(#333b3c, #efedea);
}

a:hover {
  color: #007fad;
}

.markdown-body {
  color: light-dark(#333b3c, #efefec);
  background-color: light-dark(#efefec, #242424);
  margin-left: 160px;
  padding: 0px 10px;
}

.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: light-dark(#efefec, #111111);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  display: block;
}