<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>{{ page.title | escape }} | {{ site.title | escape }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ "/assets/css/styles.css" | relative_url }}">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/styles/github-dark-dimmed.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/highlight.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.11.1/languages/java.min.js"></script>
  
  </head>
  <body class="bg-zinc-900 !text-white max-w-4xl mx-auto lg:my-8">
    <a href="../index.html" class="text-blue-500 text-xs ps-3 pt-6 block">< 1511 Teaching Resources</a>
    <main class="mdStyle m-4 mt-0">
      {{ content }}
    </main>
    <script defer>
      document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code, code').forEach((el) => {
          el.classList.add("language-java")
          hljs.highlightElement(el);
        });
      });
    </script>
  </body>
</html>
